<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if(machine) {%>
      <p style="background-color: mediumspringgreen">Machine added</p>
    <%}%>
    <a href="/machine">Add Machine</a><br/>
    <a href="/search">Fetch Machine</a>
  </body>
</html>
