<!DOCTYPE html>
<html>
  <head>
    <title>Add machine</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Home</a>
    <h1>Add Machine</h1>
    <form class="machineform" action="/machine" method="post">
      <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="name" required></td>
        </tr>
        <tr>
          <td>Category</td>
          <td>
            <select class="" name="category">
              <% categories.forEach(category => { %>
                <option value="<%= category._id %>">
                  <%= category.name %>
                </option>
                <% }); %>
              </select>
            </td>
          </tr>
        <tr>
            <td>Production capacity(Units per hour):</td>
            <td><input type="number" name="unitPerHour" required></td>
        </tr>
        <tr>
            <td>Number of machines available:</td>
            <td><input type="number" name="numberOfMachine" required></td>
        </tr>
        <tr>
            <td>Production cost per hour:</td>
            <td><input type="number" name="costPerHour" required></td>
        </tr>
        <tr>
          <td><input type="submit" value="submit"></td>
        </tr>
      </table>
    </form>
  </body>
</html>
