<!DOCTYPE html>
<html>
  <head>
    <title>Search machine</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Home</a>
    <h1>Fetch Machine</h1>
    <form class="machineform" action="/search" method="post">
          Category:
            <select class="" name="category">
              <% categories.forEach(category => { %>
                <option value="<%= category._id %>">
                  <%= category.name %>
                </option>
                <% }); %>
              </select>
          Capacity:
          <input type="number" name="min" placeholder="minimum" length=4>
          <input type="number" name="max" placeholder="maximum">
          Number Of Unit:
          <input type="number" name="units" value="100000" required>
          <input type="submit" value="submit">
    </form>
    <hr/>
    <% if (timeSortedMachines) {%>
      <h3>Minimum Time</h3>
      <table border="1">
        <tr>
          <th>Name</th>
          <th>Unit per hour</th>
          <th>Number of machine</th>
          <th>Cost per hour</th>
          <th>Time to complete 100000 units</th>
        </tr>
        <% timeSortedMachines.forEach((machine, index) => {%>
          <% if (index === 0) {%>
            <tr style="background-color:mediumspringgreen">
          <%}%>

          <td><%=machine.name%></td>
          <td><%=machine.unitPerHour%></td>
          <td><%=machine.numberOfMachine%></td>
          <td><%=machine.costPerHour%></td>
          <td><%=machine.daysToComplete%></td>
        </tr>
      <%})%>
    </table>
    <%}%>

    <% if (costSortedMachine) {%>
      <h3>Minimum Cost</h3>
      <table border="1">
        <tr>
          <th>Name</th>
          <th>Unit per hour</th>
          <th>Number of machine</th>
          <th>Cost per hour</th>
          <th>Cost to complete 100000 unit</th>
        </tr>
        <% costSortedMachine.forEach((machine, index) => {%>
          <% if (index === 0) {%>
            <tr style="background-color:mediumspringgreen">
          <%}%>
          <td><%=machine.name%></td>
          <td><%=machine.unitPerHour%></td>
          <td><%=machine.numberOfMachine%></td>
          <td><%=machine.costPerHour%></td>
          <td><%=machine.costToComplete%></td>
        </tr>
      <%})%>
      </table>
    <%}%>
  </body>
</html>
